@media (max-width: 1024px) {
  .podcast-content {
    flex-direction: column;
    align-items: center;
  }

  .podcast-content__right {
    padding: 0;
  }

  .author-content {
    flex-direction: column;
    align-items: center;
  }

  .author-content__left {
    padding: 0;
  }

  .underline {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .podcast-title {
    font-size: 50px;
    line-height: 78px;
  }

  .episodes-header__title {
    font-size: 50px;
  }

  .section-title {
    font-size: 44px;
    line-height: 50.4px;
  }

  .review-text {
    font-size: 26px;
    line-height: 33.2px;
  }

  .review-author {
    font-size: 14px;
  }

  .review-cards__item {
    padding: 14px 20px 11px 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-platforms__links {
    padding: 0;
  }

  .socials {
    margin-bottom: 19px;
  }
}

@media (max-width: 625px) {
  .header-content {
    flex-direction: column;
  }

  .podcast-content__right {
    padding: 0;
  }

  .podcast-title {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
  }

  .underline {
    top: -10px;
    width: 100%;
  }

  .podcast-platforms {
    padding: 0;
  }

  .episodes-header__title {
    font-size: 30px;
    line-height: 39.2px;
  }

  .section-title {
    font-size: 24px;
    line-height: 30.4px;
  }

  .section-descr {
    font-size: 12px;
    line-height: 23px;
  }

  .button {
    padding: 2px 12px;
    font-size: 7px;
    line-height: 17px;
  }

  .section-content {
    flex-direction: column;
    align-items: center;
  }

  .section-content__right {
    padding: 0;
  }

  .subscribe-content {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-content__left {
    padding: 0;
  }

  .review-text {
    font-size: 16px;
    line-height: 23.2px;
  }

  .review-cards__item {
    width: 62%;
  }

  .form__input {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .nav-list {
    gap: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .podcast-platforms__links {
    justify-content: center;
  }
}
