.footer {
  padding: 100px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.logo-block__footer {
  display: flex;
  flex-direction: column;
}

.footer-content__logo {
  width: 224px;
  margin-bottom: 19px;
}

.footer-platforms__links {
  align-items: normal;
  padding-right: 218px;
}

.socials {
  display: flex;
  gap: 10px;
}
